body{
    /* display: flex;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; */
}

#cal-heatmap{
    margin: auto;
    /* width: 152px; */
}